<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Méteo avec Vuejs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.png">


    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/libs/vue.js"></script>
    <script src="js/main.js"></script>

</head>

<body>
    <div class="container">

        <!-- menu du haut de page -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Météo </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- fin : menu du haut de page -->

        <h1>WebApp Météo avec Vuejs</h1>


        <div id="weatherApp">


             <!-- Affichage de la variable 'message' présente dans l'application Vue  -->
             <p class="badge badge-success" role="alert" v-if='message'>
                {{message}}
            </p>

            <p class="badge badge-success" role="alert" v-if='loaded'>
                Application chargée.
            </p>

        </div>


    </div>
</body>

</html>